# We're using a timer instead of a plain systemd service to delay JIRA's start
# when the EC2 is booting up.
#
# We do this to ensure JIRA is started after the RDS is up and running when the
# Instance Scheduler spins-up both the EC2 and RDS at the same time

[Unit]
Description=Jira Issue & Project Tracking Software

[Timer]
OnBootSec=5min

[Install]
WantedBy=multi-user.target
